/* .card-tiles {
  display: grid;
  grid-template-columns: auto auto;
  height: 60px;
  width: 80px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .card-tiles {
    display: grid;
    grid-template-columns: auto;
  }
} */
.card-tiles-details {
  display: flex;
}
.cardsWrapper {
  display: flex;
}
.preview {
  height: 400px;
  width: 100%;
  border: 1px solid;
}
.message-preview {
  border-top: 1px solid;
}
@font-face {
  font-family: "Griffy";
  src: local("Griffy"), url(../../fonts/Griffy-Regular.ttf) format("woff");
}
